*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.badge {
    font-size: '14px';
    transition: all 0.2s ease;
}
  
.badge:hover {
    opacity: 0.7;
}

.banner {
    border-radius: 6px;
    width: 80vw;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 12px;
    margin-bottom: 12px;
}

.banner-header {
    margin: 0;
    font-weight: 500;
}

.banner-text {
    grid-column: 2 / 3;
    margin: 0;
    font-weight: 400;
}

.card {
    border-radius: 8px;
    padding: 2em 1.5em;
    background-color: #F9FAFB;
    display: inline-block;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-bottom: 12px;
}

.card-header {
    color: #111827;
    font-weight: 500;
}

.card-text {
    color: #6B7280;
    font-weight: 400;
}

.default-card-icon {
    background-color: #3F75FE;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial {
    display: flex;
    position: relative;
    padding: 80px;
}

.person-image {
    width: 280px;
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 12px;
}

.quote-icon {
    color: "#FFFFFF40";
    width: 48px;
    height: 48px;
}

.testimonial-content {
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testimonial-text {
    font-size: 24px;
    margin: 0;
}

.testimonial-person-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0;
}

.testimonial-person-name {
    font-weight: 700;
}

.testimonial-no-image {
    margin-top: 24px;
    position: relative;
    background-color: #F9FAFB;
    overflow: hidden;
    padding: 80px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
  
.testimonial-no-image::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 70%;
    background-image: radial-gradient(#e5e7eb 2px, transparent 2.5px);
    background-size: 20px 20px;
    opacity: 0.5;
}

.testimonial-no-image .logo-section {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 20px;
}

.testimonial-no-image .testimonial-person-info {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-direction: row;
}

.testimonial-no-image .testimonial-person-name {
    color: #111827;
    font-weight: 500;
}

.testimonial-no-image .testimonial-person-title {
    color: #6B7280;
}

.tooltip {
    padding: 1em;
    display: flex;
    align-items: start;
    border-radius: 8px;
    gap: 1em;
    width: 384px;
    margin-bottom: 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.tooltip * {
    margin: 0;
}

.tooltip svg {
    flex-shrink: 0;
    display: block;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tooltip-header {
    font-size: 14px;
    font-weight: 500;
}

.tooltip-text {
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 700px) {
    .testimonial {
        padding: 148px 16px 64px;
        margin-top: 200px;
    }

    .testimonial-content {
        margin-left: 0;
        margin-top: 36px;
    }

    .person-image {
        left: 50%;
        transform: translateX(-50%);
        top: -40%;
    }

    .testimonial-no-image {
        align-items: start;
        padding: 72px 16px;
    }

    .testimonial-no-image .logo-section {
        align-self: center;
    }

    .testimonial-no-image::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 320px;
        height: 30%;
        background-image: radial-gradient(#e5e7eb 2px, transparent 2.5px);
        background-size: 20px 20px;
        opacity: 0.5;
    }
}