*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.badge {
    font-size: '14px';
    transition: all 0.2s ease;
}
  
.badge:hover {
    opacity: 0.7;
}

.banner {
    border-radius: 6px;
    width: 80vw;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 12px;
    margin-bottom: 12px;
}

.banner-header {
    margin: 0;
    font-weight: 500;
}

.banner-text {
    grid-column: 2 / 3;
    margin: 0;
    font-weight: 400;
}

.card {
    border-radius: 8px;
    padding: 2em 1.5em;
    background-color: #F9FAFB;
    display: inline-block;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.card-header {
    color: #111827;
    font-weight: 500;
}

.card-text {
    color: #6B7280;
    font-weight: 400;
}

.default-card-icon {
    background-color: #3F75FE;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}